<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns:xforms="http://www.w3.org/2002/xforms"
	xmlns="http://www.w3.org/1999/xhtml"
>
	<head>
		<title>Calendar <%= @today.strftime("%D") %></title>
		<%= stylesheet_link_tag 'scaffold', 'calendar' %>
		<%= javascript_include_tag 'prototype', 'slider', 'calendar' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>

		<div style="color: green"><%= flash[:notice] %></div>
		
		<%# render :partial => "navigation" %>

		<div id="Calendar">
			<table border="0" id="<%= controller.action_name %>">
				<%= yield  %>
			</table>
		</div>

	<%= javascript_tag "setTimeout('updateTime()', 1000);" %>
	</body>
</html>
