  <tr>
				<th class="week" style="cursor: default;">#</th>
<%=
      [0, 1, 2, 3, 4, 5, 6].partition {|on| 
        on >= DateTime.day_names.index(@preferences.week_day_start.capitalize)%7 
      }.flatten.collect { |i|
				content_tag :th, DateTime::ABBR_DAYNAMES[i][0,2], :class => "day_names"
			}
%>

  </tr>
