<%= render :partial => 'header', :locals => {:prev_date => @year<<12, :next_date => @year>>12}  %>
<tbody>
  <% 12.times do |i| %>
    <% if i % 3 == 0 %>
    <tr>
      <td><%= link_to "Q#{[1, 4, 3, 2][i%4]}", quarter_path(@year.year, @year.quarter) %></td>
      <td>&nbsp;</td>
    <% end %>
    <%= render :partial => 'year_month', :locals => { :month => @year>>i } %>
    <% if i % 3 == 2 %>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <% end %>
  <% end %>
</tbody>
